/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.jfx-list-cell:selected{
	-fx-background-color: #f8666b;
}
.jfx-list-cell .jfx-rippler{
	-fx-rippler-fill:RED;
}
.jfx-list-cell:hover{
	-fx-background-color: #1bd79c;
}